#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url(../public/images/Background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Hero */

.HeroImg {
  width: 100%;
  height: 250px;
}
.hero-col h1 {
  margin-top: 30px;
  font-size: 50px;
  color: white;
}
.hero-col h3 {
  font-size: 30px;
  color: white;
}
.hero-col p {
  font-size: x-large;
  color: white;
}

/* NavBar*/

.nav-item {
  font-size: 35px;
  width: 250px;
  padding: 10px;
}
.nav-link a {
  font-size: 50px;
}
/* card */
.card img {
  height: 600px;
}

/* item-list-container */

.item-list-container {
  color: white;

}
.item-list-container li {
  font-size: xx-large;
  list-style: none;
  background-color: black;
  margin-top: 10px;
  margin-left: 30px;
}
.item-list-container img {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 450px;
  margin: 10px;
}
.itemList {
  margin: 0;
  display: flex; 
  flex-wrap: wrap; 
}